* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.first-container {
  border: black solid 2px;
  width: 500px;
  height: 200px;
  margin: 10% auto;
  border-radius: 10px;
  & h1 {
    text-align: center;
  }
  & p:first-of-type {
    text-align: center;
    font-size: 2em;
  }
  & p:last-of-type {
    font-size: 1em;
    text-align: center;
  }
  
}
.container-button {
  display: flex;
  justify-content: center;
  gap: 2em;
  & button {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
}